@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
}

@layer components {
	.max-width {
		@apply max-w-[1440px] mx-auto;
	}

	.padding-x {
		@apply sm:px-16 px-6;
	}

	.padding-y {
		@apply py-4;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}

	.custom-btn {
		@apply rounded-lg border shadow-md max-w-[450px];
	}

	.head-text {
		@apply text-4xl font-extrabold leading-[1.15] sm:text-5xl;
	}

	.gradient {
		@apply bg-gradient-to-l from-violet-600 via-fuchsia-400 to-blue-600 bg-clip-text text-transparent;
	}

	/* Table Styles */
	th {
		@apply px-3 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
	}

	td {
		@apply px-3 py-4 border-b border-gray-200 text-left;
	}

	.pagination-controls {
		@apply flex flex-row justify-between px-3 py-3 bg-gray-50;
	}
}
