@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
		background-color: rgba(255, 255, 255, 0.8);
		background-image: radial-gradient(#d0d2fd 0.75px, #ffffff 0.75px);
		background-size: 15px 15px;
	}
}

@layer components {
	/* General Styling */
	.app {
		@apply max-w-md md:max-w-lg lg:max-w-7xl mx-auto;
	}
	.max-width {
		@apply max-w-[1440px] mx-auto;
	}

	.padding-x {
		@apply sm:px-16 px-6;
	}

	.padding-y {
		@apply py-4;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}

	/* Buttons and Headings */
	.custom-btn {
		@apply cursor-pointer w-48 flex items-center justify-evenly border border-fuchsia-400 text-slate-800 px-4 py-2 rounded transition duration-300 hover:bg-fuchsia-400 hover:text-white;
	}

	.head-text {
		@apply text-2xl font-extrabold leading-loose sm:text-3xl text-slate-800;
	}

	.gradient {
		@apply bg-gradient-to-l from-violet-600 via-fuchsia-400 to-blue-600 bg-clip-text text-transparent;
	}

	.searchbar {
		@apply flex border border-fuchsia-400 text-slate-800 rounded items-center;
	}

	/* Table Styles */
	th {
		@apply px-3 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
	}

	td {
		@apply px-3 py-4 border-b border-gray-200 bg-white text-left;
	}

	.pagination-controls {
		@apply flex flex-row justify-between px-3 py-3 bg-gray-50;
	}
}
